
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // This rule correctly matches all documents and sub-collections
    // within family-data and gives full read/write access
    // to any authenticated user.
    match /family-data/{path=**} {
      allow read, write: if request.auth != null;
    }

    // Allow users to create their own profile, and read/update/delete ONLY
    // their own profile. This prevents listing all users.
    match /users/{userId} {
      // allow get, update, delete: if request.auth != null && request.auth.uid == userId;
      allow get: if request.auth != null; // Any authenticated user can GET another user's profile
      allow list: if false; // Explicitly deny listing the entire collection
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
